<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="<%= @seo_keywords %>">

    <title><%= @page_title %></title>

    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab" rel="stylesheet">
    <%= favicon_link_tag 'favicons/favicon.ico' %>
    <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/portfolios_nav' %>
    <%= render 'shared/portfolios_masthead' unless logged_in?(:site_admin)%>
    <%= yield %>
    <%= render 'shared/portfolios_footer' %>
    <%= alerts %>
  </body>
</html>
